.episodios-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedor-episodios-page{
    background-image: url( 'https://c.wallhere.com/photos/aa/0e/Rick_and_Morty_digital_art_tv_series_Portal_space-1799919.jpg!d' ) ;
  
}

.titulo-episodios-page{
    color: white;

}